<?xml version="1.0" encoding="UTF-8"?>
<!-- 
   MeerMeer DW CSXS Extension 
   Copyright (c) 2010 Adobe Systems Inc
-->
<config>	
	<!-- Client SWF Constants -->
	<param id="defaultLanguage" value="en-us" />	
    <param id="meermeerServer" value="browserlab.adobe.com" />  
	<param id="MEERMEER_SERVICE_URL" value="https://((config.meermeerServer))/index.html" />
	<param id="MEERMEER_CLIENT_SWF_DOMAIN_NAME" value="((config.meermeerServer))" />	
    <param id="MEERMEER_SERVICE_VERSION_URL" value="https://((config.meermeerServer))/kiss/version/getVersion.xml" />				
    <param id="MEERMEER_SERVICE_LOGIN_URL" value="https://((config.meermeerServer))/kiss/account/login.xml" />				
    <param id="MEERMEER_SERVICE_PUTSCREENSHOT_CONTENT_URL" value="https://((config.meermeerServer))/kiss/screenshot/put_screenshot_content.xml" />				
	<param id="MEERMEER_LOCAL_CONTENT_PREFIX" value="dreamweaver://" />
	<param id="MEERMEER_FROZEN_CONTENT_PREFIX" value="dreamweaver.liveview://" />

	<!--  Response Time Out -->
	
	<!-- seconds to wait for connecting to service - 30 seconds in seconds-->
	<param id="MEERMMEER_SERVICE_VERSION_TIME_OUT" value = "30"/>		
	
	<!-- seconds to wait for connecting to service - defaults to 1 and half minute (90 seconds) in ms-->
	<param id="MEERMMEER_SERVICE_TIME_OUT" value = "90000"/>
		
	<!-- seconds to wait for canceling the preview - defaults to (3 seconds) in ms-->
	<param id="MEERMMEER_SERVICE_CANCEL_PREVIEW_TIME_OUT" value = "3000"/>
	
	<!-- timeout to opening a LC Connection - defaults to (30 seconds) in ms-->
	<param id="MEERMMEER_LC_OPEN_TIME_INTERVAL" value="30000"/>	
	
	<!-- heart beat to browser swf  - defaults to (5 seconds) in ms-->
	<param id="MEERMMEER_LC_HEART_BEAT_INTERVAL" value="5000"/>
	
	<!-- timeout to begin a version check with service after load - defaults to (30 seconds) in ms-->
	<param id="MEERMMEER_SERVER_VERSION_CHECK_INTERVAL" value="30000"/>
	
	<!-- seconds to wait for authenticating with service - defaults to (60 seconds) -->
	<param id="MEERMMEER_SERVICE_AUTHENTICATION_TIME_OUT" value = "60000"/>
	
	<!--  proxy mode for tunneling or extended tunneling (e.g CMS based internal apps) -->
	<param id="MEERMMEER_SERVICE_PROXY_MODE" value="extended-tunnel" /> 						
	
	<!-- logging flags -->	
    <param id="debugMode" value="false" /> <!-- true or false -->
    <param id="logLevel" value="ALL" /> <!-- if debugMode, this must be one of: ALL, DEBUG, INFO, WARN, ERROR, or FATAL -->
    <param id="logFilters" value="com.adobe.meermeerdw.*" /> <!-- comma-separated list, no spaces -->    		

	<!-- standalone client launch log flag -->	
    <param id="clientLoggging" value="false" /> <!-- true or false -->
</config>   
